<mat-toolbar class="navbar">
  <span>My Application</span>
<mat-form-field>
  <mat-label>Choose an option</mat-label>
  <mat-select>
    <mat-option value="option1">Spain</mat-option>
    <mat-option value="option2">United Kingdom</mat-option>
    <mat-option value="option3">Austria</mat-option>
  </mat-select>
</mat-form-field>
  <!-- <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of options" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete> -->
</mat-toolbar>

<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

<!-- <mat-checkbox class="example-margin"></mat-checkbox> -->



<app-main></app-main>